.u19d50ab76f76e0a61b0594997b4ed2af .z13d7ddd28ee4a6b066d92e0725f1ce9d{
    background:#c1bebe!important;
    }
    .c05ebc20454bc1c79f00d12350a72faec li{
    list-style: none;
    padding-left: 0;
    margin-top: 1.5rem;
    text-align: left;
    color: #000000;
    }
    .t85f8c7fd4a37918fc8566ca73b71f986 *,.ef2ace2927de70043e0dd4a853d055282 *,.c58ad1b6ee58409f27601e88de56c9800 *{
    color:#040404 ;
    }
    .c05ebc20454bc1c79f00d12350a72faec{
    padding-top: 4rem;
    padding-bottom: 6rem;
    background-color: #cdeaf0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    }
    .dropdown-menu{
    max-width:800px;
    overflow-x: auto;
    }
    .c05ebc20454bc1c79f00d12350a72faec .yee6228c3ec6e13531d03af367eb04fb2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    margin-top: 4rem;
    border-top: 2px solid #0f0f0f;
    }
    .ufa475eb9baf740551954b5ad45fd7299 .b9b58440a471158a8473125431d66dded{
    padding: 3rem;
    background: #ffffff;
    }
    .navbar-nav li:hover>.dropdown-menu{
    display: block;
    }
    .y22373e5fb28119b05dbc76d2cb079ad9{
    font-size: 19.5px;
    line-height: 1.2;
    font-weight: 400;
    }
    .w33412c40396a8b3f212f8052360011a8 .a457392927d0840dd5ad24fd2f9473eba,.t85f8c7fd4a37918fc8566ca73b71f986 .a457392927d0840dd5ad24fd2f9473eba,.ef2ace2927de70043e0dd4a853d055282 .a457392927d0840dd5ad24fd2f9473eba,.c58ad1b6ee58409f27601e88de56c9800 .a457392927d0840dd5ad24fd2f9473eba,.ufa475eb9baf740551954b5ad45fd7299 h4,.a42c8fc97064b8c47e9faf7e5a3a02694 .a457392927d0840dd5ad24fd2f9473eba,.a457392927d0840dd5ad24fd2f9473eba{
    font-size: 37px!important;
    }
    .t85f8c7fd4a37918fc8566ca73b71f986{
    background:#ffffff;
    }
    .u06322daba1bba38ef5cd5c45e6ef2bbd{
    height: 100%;
    }
    .zb008dae93ebeb2a4e0e047980e7d8ae3 img{
    font-size: 13.9px;
    }
    .a97fb130077af8c32ba8172385433bd12 h1{
    text-align: left;
    color: #000000;
    }
    .hamburger span:nth-child(2){
    top: 8px;
    transition: all 0.15s;
    }
    .hamburger span:nth-child(4){
    top: 16px;
    transition: all 0.2s;
    }
    .ufa475eb9baf740551954b5ad45fd7299 .wd5318d2599891b7d8608282e985c7bb8{
    background-color: #cdeaf0;
    padding: 2rem;
    }
    .u19d50ab76f76e0a61b0594997b4ed2af .xaa22e2dc5d7716a0cf62a47103580519 *{
    color:#000000;
    }
    .w33412c40396a8b3f212f8052360011a8 *{
    color: #111111;
    }
    .u19d50ab76f76e0a61b0594997b4ed2af .xaa22e2dc5d7716a0cf62a47103580519{
    background:#afd3ce!important;
    }
    .x42eb0b075042dec00ddc4d73ce270661 .{icon_btn_class}{
    height: 32.6px;
    width: 33.2px;
    margin-right: 30px;
    border-radius: 100%;
    border: 2px solid #000000;
    }
    .a42c8fc97064b8c47e9faf7e5a3a02694{
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #ffffff;
    position: relative;
    z-index: 2;
    }
    .u19d50ab76f76e0a61b0594997b4ed2af .row-item.y6c33839768f034fdcbc5fc35b0f19603{
    background: #ebd2b4;
    }
    .navbar-toggler{
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    padding: 0px 0px;
    font-size: 20.5px;
    line-height: 1;
    background: transparent;
    border: 1px solid transparent!important;
    border-radius: 0.25rem;
    }
    .fa-star,.fa-star-half-alt{
    font-size: 14.7px;
    }
    .a97fb130077af8c32ba8172385433bd12{
    padding-bottom: 0px;
    overflow: hidden;
    background: #ffffff;
    }
    .u19d50ab76f76e0a61b0594997b4ed2af .row-item{
    padding: 3rem;
    padding-top: 3.7rem;
    }
    .hamburger span:nth-child(1){
    top: 0;
    transition: all 0.2s;
    }
    .y161124bd43f2f114363f8c792531e2b5{
    font-size: 19.9px;
    font-weight: bold;
    }
    .u19d50ab76f76e0a61b0594997b4ed2af .y6c33839768f034fdcbc5fc35b0f19603{
    background:#ebd2b4!important;
    }
    button.navbar-toggler{
    width: 31px;
    height: 18px;
    cursor: pointer;
    transition: all 0.2s;
    top: 2rem;
    display: block;
    right: 1.5rem;
    position: absolute;
    }
    .zb008dae93ebeb2a4e0e047980e7d8ae3 i{
    border-radius: 50%;
    width: 36.7px;
    text-align: center;
    height: 37.3px;
    }
    .u19d50ab76f76e0a61b0594997b4ed2af .weed614f042b8c281ea7af32b4ce41c7e{
    margin-bottom: 1.5rem;
    }
    .w33412c40396a8b3f212f8052360011a8 *,.t85f8c7fd4a37918fc8566ca73b71f986 p,.t85f8c7fd4a37918fc8566ca73b71f986 span,.t85f8c7fd4a37918fc8566ca73b71f986 label,.ef2ace2927de70043e0dd4a853d055282 *,.c58ad1b6ee58409f27601e88de56c9800 *,.ufa475eb9baf740551954b5ad45fd7299 *,.a42c8fc97064b8c47e9faf7e5a3a02694 *,.t85f8c7fd4a37918fc8566ca73b71f986 a{
    font-size: 20px!important;padding:9.7px;
    }
    .eba209f1628b3c43cfa05febe1ae883d8 i{
    font-size: 19.8px;
    padding: 10px;
    }
    .ef2ace2927de70043e0dd4a853d055282{
    background:#ffffff;
    }
    .u19d50ab76f76e0a61b0594997b4ed2af .x03bd6312297e9da8de287bb247253802 *{
    color:#000000;
    }
    .w390d8e64f94b78a24e612108d1ff26f9{
    text-decoration: underline!important;color:#73d9ee
    }
    .nav-link:hover, .dropdown-item:hover{
     opacity: .75;
    }
    .u19d50ab76f76e0a61b0594997b4ed2af .row-item.xaa22e2dc5d7716a0cf62a47103580519{
    background: #afd3ce;
    }
    .hamburger span{
    position: absolute;
    right: 0;
    width: 30px;
    height: 2px;
    border-right: 5px;
    background-color: #000000;
    }
    .yb978725039e21c9fcb0302d63d1f1c4a{
    font-weight: 700 !important;
    }
    .u19d50ab76f76e0a61b0594997b4ed2af .x03bd6312297e9da8de287bb247253802{
    background:#bcd9df!important;
    }
    .e07e6c038eaf133546a1261b8d69d20d5,.e07e6c038eaf133546a1261b8d69d20d5:active{
    background-color:#ffffff!important;
    border-color:#000000!important;
    color:#000000!important;
    padding: 9.5px 20px!important;
    border-radius: 0;
    font-weight: 700!important;
    letter-spacing: 0px;
    transition-property: all;
    transition-duration: .2s;
    min-width: 200.2px !important;
    }
    .yf3cff3fcac6941410a0f54fc14234d29 *{
    color:#000000;
    }
    .ufa475eb9baf740551954b5ad45fd7299{
    padding-top: 2rem;
    padding-bottom: 6rem;
    background-color:#ffffff;
    }
    .u19d50ab76f76e0a61b0594997b4ed2af .card-img{
    margin-bottom: 1.7rem;
    text-align: left;
    }
    p, .ab8dd615b8c3d3968915d9437989b045d{
    font-size:20px;
    line-height: 1.68;
    font-weight: 400;
    }
    .c05ebc20454bc1c79f00d12350a72faec a{
    color:#0f0f0f;
    text-decoration: underline;
    }
    .c05ebc20454bc1c79f00d12350a72faec *{
    color:#0f0f0f;
    font-size:20px!important;
    }
    .xaa22e2dc5d7716a0cf62a47103580519 a{
    color:#71d7ec!important;
    }
    a:hover{
    color:#000000!important;
    background: #ffffff!important;
    opacity: .75;
    text-decoration: none;
    }
    .v4e5de4bf14338bcdd2a004050607f1c8{
    font-size: 20px!important;
    }
    .dropdown .dropdown-menu .dropdown-item{
    width: auto;
    padding: 0.2em 1.3em 0.2em 1.3em !important;
    }
    .w33412c40396a8b3f212f8052360011a8{
    padding-top: 59.6px;
    padding-bottom: 59.6px;
    background-color:#edd4b6;
    }
    .d7cab48b96b7ea08f75dae68c14ff9188{
    font-size:37px!important;
    }
    .x03bd6312297e9da8de287bb247253802 a{
    color:#75dbf0!important;
    }
    .navbar{
    background: #ffffff;
    transition: none;
    min-height: 76.6px;
    padding-top: 9.6px;
    padding-bottom: 10px;
    position: relative;
    z-index: 1000;
    box-shadow: 0 0 14.5px 0 rgb(0 0 0 / 10%);
    }
    .xdc9a1ebf771688dc7f9420c7ddf3cba7{
    font-size: 13.8px;
    }
    .z13d7ddd28ee4a6b066d92e0725f1ce9d a{
    color:#7ee4f9!important;
    }
    .v4e5de4bf14338bcdd2a004050607f1c8, .a97fb130077af8c32ba8172385433bd12 .tbdd9a520afe4afa4d5d36a5e4a2ef35e{
    color: #000000;
    text-align: left;
    }
    .u19d50ab76f76e0a61b0594997b4ed2af p,.u19d50ab76f76e0a61b0594997b4ed2af a,.u19d50ab76f76e0a61b0594997b4ed2af label,.u19d50ab76f76e0a61b0594997b4ed2af span{
    font-size:20px!important;
    }
    html{
    scroll-behavior: smooth;
    }
    .ycc8331b1d67b7b8d225ce22704ba52ef{
    font-size: 17.9px;
    line-height: 1.68;
    }
    .c05ebc20454bc1c79f00d12350a72faec ul{
    padding-left: 0px;
    }
    .hamburger span:nth-child(3){
    top: 8px;
    transition: all 0.15s;
    }
    .u19d50ab76f76e0a61b0594997b4ed2af .row-item.x03bd6312297e9da8de287bb247253802{
    background: #bcd9df;
    }
    section{
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10; 
    position: relative;
    }
    .x42eb0b075042dec00ddc4d73ce270661 .card-header{
    padding: 2rem 0;
    border-bottom: 2px solid #d3d9e5;
    }
    .nav-item .nav-link{
    display: -webkit-flex;
    align-items: center;
    padding: 11.6px 0!important;
    margin: 0px 20.5px!important;
    -webkit-align-items: center;
    }
    .zb008dae93ebeb2a4e0e047980e7d8ae3{
    background: #ffffff;
    margin-top:19.7px;
    margin-bottom: 20.2px;
    padding-top: 19.9px;
    padding-bottom: 19.7px;
    }
    .y6c33839768f034fdcbc5fc35b0f19603 a{
    color:#75dbf0!important;
    }
    .u06322daba1bba38ef5cd5c45e6ef2bbd img{
    width: 100%;
    }
    .u19d50ab76f76e0a61b0594997b4ed2af .z13d7ddd28ee4a6b066d92e0725f1ce9d *{
    color:#000000;
    }
    .a97fb130077af8c32ba8172385433bd12 .b9b58440a471158a8473125431d66dded{
    background-color: #edd4b6;
    }
    a{
    text-decoration: none;
    }
    .u19d50ab76f76e0a61b0594997b4ed2af .row-item.z13d7ddd28ee4a6b066d92e0725f1ce9d{
    background: #c1bebe;
    }
    .nav-link{
    color: #000000!important;
    }
    .x42eb0b075042dec00ddc4d73ce270661 .{sign_class}{
    color: #000000;
    text-align: left;
    }
    .a97fb130077af8c32ba8172385433bd12 .t725499ba3dae33bea9c526c14be6d5ee{
    margin-top: 5rem;
    margin-bottom:29.6px;
    padding: 5rem;
    background-color: #ffffff;
    }
    .c77b2b61ba8a5a14cfa91a9fdfa836e92{
    max-height: 300px;
    overflow-y:auto;
    }
    .y9cf04b124e22c432d5bd0fac0ac090c9{
    color: #6ec5b7;
    }
    .u19d50ab76f76e0a61b0594997b4ed2af .y6c33839768f034fdcbc5fc35b0f19603 *{
    color:#000000;
    }
    .eba209f1628b3c43cfa05febe1ae883d8 i:hover{
    background: white;
    color: black;
    border-radius: 50%;
    width: 36.6px;
    text-align: center;
    height: 37.1px;
    }
    .e07e6c038eaf133546a1261b8d69d20d5:hover, .e07e6c038eaf133546a1261b8d69d20d5:focus, .e07e6c038eaf133546a1261b8d69d20d5.focus, .e07e6c038eaf133546a1261b8d69d20d5.active{
    color: #ffffff !important;
    background-color: #000000 !important;
    border-color: #000000 !important;
    }
    .u19d50ab76f76e0a61b0594997b4ed2af h4{
    font-size:37px!important;
    }
    .u19d50ab76f76e0a61b0594997b4ed2af{
    margin-top:49.6px
    }
    *{
    font-family: 'DM Sans', sans-serif;
    }
    0{
    object-position: center center;
    }
    .dropdown-item{
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    }
    .t85f8c7fd4a37918fc8566ca73b71f986 a,.ef2ace2927de70043e0dd4a853d055282 a,.c58ad1b6ee58409f27601e88de56c9800 a{
    color:#040404!important;  
    text-decoration: underline!important;
    }
    a:hover, a:focus, a.active{
    color:#000000!important;
    }
    .dropdown .dropdown-menu{
    background: #ffffff;
    position: absolute;
    display: none;
    min-width: 50.2px;
    padding-top: 9.8px;
    box-shadow: 0 0 15.3px 0 rgb(0 0 0 / 10%);
    padding-bottom: 9.9px;
    text-align: left;
    }
    .a42c8fc97064b8c47e9faf7e5a3a02694 img{
    width: 100%;
    object-fit: cover;
    }
    .vdc17965868db609ad4ff545c2a6c04fb{
    background-color: #000000;
    font-size: 29.6px!important;
    height: 56.2px;
    min-width: 56.1px;
    padding: 0.7rem;
    padding-top: 12.6px;
    color: #fff!important;
    border: 1px solid #000000;
    border-radius: 50%;
    }
    .yf3cff3fcac6941410a0f54fc14234d29{
    border: 1px solid #6c89973a;
    border-radius: 5px;
    padding: 20px 20px;
    background: #ffffff;
    color: #000000!important;
    }
    .x42eb0b075042dec00ddc4d73ce270661 .icon{
    min-width: 30.5px;
    height: 29.9px;
    border-radius: 100%;
    color: #000000 !important;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 19.5px;
    font-weight: normal;
    transition: all 0.3s;
    transform: scaleY(1);
    cursor: pointer;
    }
    .c58ad1b6ee58409f27601e88de56c9800{
    background:#ffffff;
    }
     @media (min-width: 992px){
    .a42c8fc97064b8c47e9faf7e5a3a02694 .f6abd2e774991df09aa40215d9b84670d {
     padding-left: 2rem;
     padding-right: 2rem;
    }
    }
    @media (min-width: 1250px){
    .container {
     max-width: 1248px !important;
    }
    }
    @media (min-width: 1330px){
    .container {
     max-width: 1330px !important;
    }
    }
    @media (max-width: 1000px){
    .d7cab48b96b7ea08f75dae68c14ff9188,.ycc8331b1d67b7b8d225ce22704ba52ef {
     font-size: 20px!important;
    }
    .y22373e5fb28119b05dbc76d2cb079ad9{
     font-size: 16px!important;
    }
    .ab8dd615b8c3d3968915d9437989b045d{
     font-size: 14px!important;
    }
    p{
     font-size: 14px!important;
    }
    .a97fb130077af8c32ba8172385433bd12 .t725499ba3dae33bea9c526c14be6d5ee {
     width:100%;
     padding: 2rem;
     margin-top: 0rem;
     margin-bottom: 0rem;
     margin-left: 0px;
    }
    }